.header {
  background-color: white;
  margin-bottom: 5%;
}

// weather //
.current-weather i {
  float: left;
  margin-left: 5%;
  margin-right: 5%;
}

.current-weather i {
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%
}

.current-weather h4 {
  float: left;
  margin-left: 15%;
}

// commute //

#map {
  height: 384px;
  width: 100%;
}

// events //

.events ul {
  list-style: none;
}

.event-start {
  float: left;
  width: 25%;
}
